@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --bg: indigo;
    --txt: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

#root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#menu,
#tab-menu {
    width: 100%;
    height: 60px;
    display: flex;
    background: var(--bg);
    display: flex;
    align-items: center;
}

#tab-menu {
    background: var(--txt);
}

#tab-container {
    display: flex;
    height: 100%;
    align-items: center;
    overflow: scroll hidden;
}

.tab {
    display: flex;
    color: var(--txt);
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    min-width: 200px;
    border-radius: 20px;
    height: 80%;
    margin: 15px 10px;
    background: var(--bg);
    transition: all 0.2s ease;
    overflow: hidden;
}
.view {
    display: none;
}

#add-button {
    display: flex;
    color: var(--txt);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    min-height: 40px;
    min-width: 40px;
    margin: 15px 10px;
    background: var(--bg);
}
#add-button>h2 {
    justify-content: center;
    align-items: center;
}
#search-button, .history-btn {
    display: flex;
    color: var(--bg);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    min-height: 35px;
    min-width: 35px;
    margin: 15px 10px;
    background: var(--txt);
}

.tab.current {
    border-radius: 20px 20px 0 0;
    margin: 11px 10px 0;
}
.view.current {
    display: block;
}

#searchbar {
    border: none;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 999px;
    color: var(--bg);
    background: var(--txt);
}

#view-container, .view {
    width: 100%;
    height: 100%;
    border: none;
}
.title, .close-btn, #search-button, #add-button, .history-btn {
    cursor: pointer;
}
.close-btn, #search-button, #add-button, .history-btn, #searchbar {
    font-size: 15px;
}