@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --text1: #ffe5fb;
  --text2: #ffffff;
  --bg: #66239a;
}

body {
  background-color: var(--bg);
  color: var(--text2);
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.hero-text-container {
  margin-left: 30px;
}

.hero-title {
  font-size: 5em;
  color: var(--text1);
}

.hero-subtitle {
  font-size: 2em;
  margin-bottom: 25px;
}

.hero-text-container>a {
  display: inline-block;
  color: var(--bg);
  background-color: var(--text1);
  padding: 10px;
  margin: 5px 5px 0 0;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  border-radius: 30px;
}

.hero-image {
  height: 400px;
  -webkit-transform: translateX(-50px) matrix3d(1, 0, 0, -0.0003, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -ms-transform: translateX(-50px) matrix3d(1, 0, 0, -0.0003, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: translateX(-50px) matrix3d(1, 0, 0, -0.0003, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.navbar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 60px;

  padding: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar>img {
  height: 1.5em;
  width: auto;
}

.navbar>ul {
  display: flex;
  flex-direction: row;
}

.navbar>ul>li {
  list-style: none;
  margin-left: 20px;
}

.navbar>ul>li>a {
  color: var(--text2);
  transition: all .2s ease;
}


.navbar>ul>li>a:hover {
  color: var(--text1);
}