@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --text1: #ffe5fb;
  --text2: #ffffff;
  --bg: #66239a;
}

body {
  background-color: var(--bg);
  color: var(--text1);
  font-family: "Lexend", Arial, Helvetica, sans-serif;

  padding: 50px 50px 100px 50px;
}

body>h1 {
  font-size: 5em;
}

body>h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
  color: var(--text2);
}

#search {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Lexend", Arial, Helvetica, sans-serif;
  color: var(--bg);
  font-size: 1em;
  padding: 15px 20px;
  width: calc(100% - (50px * 2));
  border-radius: 30px;
  border: none;
}

#search::placeholder {
  color: var(--bg);
  font-size: 1em;
}

#tile-container {
  display: flex;
  flex-wrap: wrap;
}

.tile {
  min-height: 450px;
  min-width: 450px;
  /* max-height: 350px; */
  max-width: 500px;

  margin: 10px;
  padding: 20px;

  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: var(--text2);
  border-radius: 20px;
}

.tile>.container {
  color: var(--bg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1.5;

  padding-right: 20px;
}

.tile.text-container {
  display: flex;
  flex-direction: column;
}

.tile>.container>.text-container>.title {
  display: block;
  font-size: 1.8em;
  font-weight: bold;
}

.tile>.container>.text-container>.author {
  display: block;
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 10px;
}

.tile>.container>.text-container>.description {
  font-size: 1em;
}

.tile>.image {
  flex: 1;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  border-radius: 10px;

  width: auto;
  height: auto;
  aspect-ratio: auto;
}

.tile>.container>.download {
  display: inline-block;
  color: var(--bg);
  text-decoration: none;
  text-align: center;
  background-color: var(--text1);
  padding: 10px;
  margin-top: 10px;
  border-radius: 30px;
  border: solid 0 var(--text1);
  transition: all .2s ease;
}

.tile>.container>.download:hover {
  padding: 5px;
  background-color: #fff0;
  border: solid 5px var(--text1);
}
